# Basic Site Settings
locale: "en-US"
# theme: minima  # Scommenta se vuoi tema semplice
title: "Michele Caponigro – Sito Accademico"
title_separator: "-"
name: "Michele Caponigro"
description: "Portfolio accademico e progetti di ricerca"
url: "https://michelecaponigro.github.io"
baseurl: ""
# repository: "michelecaponigro/academicpages.github.io"  # COMMENTA O RIMUOVI!
remote_theme: academicpages/academicpages.github.io  # AGGIUNGI QUESTA!

# Site Author (sidebar)
author:
  avatar     : "profile.png"          # Puoi sostituire con la tua foto in /files/
  name       : "Michele Caponigro"
  bio        : "PhD."
  location   : "Italia"
  employer   : "PhD Università di Bergamo"
  email      : "michelecaponigro @ gmail.com"
  github     : "michelecaponigro"

  # Profili accademici (opzionali)
  googlescholar : "https://scholar.google.com/citations?user=PS_CX0AAAAAJ"
  orcid         : "https://orcid.org/0000-0002-1719-4548

# Publication Categories
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'
  conferences:
    title: 'Conference Papers'

# Site Settings
breadcrumbs   : false
words_per_minute: 160
future        : true
read_more     : "disabled"

# Analytics
analytics:
  provider   : "false"

# Collections (non modificare)
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults (non modificare)
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comment: true
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Output
permalink: /:categories/:title/
timezone: Etc/UTC

# Plugins
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji
